<% layout('/layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New Artwork</h1>
        <div class="col-6 offset-3">
            <form action="/artwork" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="artwork[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="artist">Artist</label>
                    <input class="form-control" type="text" id="artist" name="artwork[artist]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="year">Year</label>
                    <input class="form-control" type="text" id="year" name="artwork[year]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="medium">Medium</label>
                    <input class="form-control" type="text" id="medium" name="artwork[medium]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="measurements">Measurements</label>
                    <input class="form-control" type="text" id="measurements" name="artwork[measurements]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Choose Images</label>
                    <input class="form-control" type="file" name="image" id="image" multiple>
                </div>
        </div>

    </div>
    <div class="mb-3">
        <button class="btn btn-success">Add Artwork</button>
    </div>
    </form>
    <a class="btn btn-outline-secondary" href="/artwork">All artwork</a>
    </div>
    </div>