<% layout('views/layouts/boilerplate.ejs')%>
<footer class="footer ms-3 py-3 mt-auto" style="background-color: #ffff">
    <div class="row">
        <div class="col-md-4">
<h3 style="font-family: Mulish";>Massa Art Gallery</h3>        
</div>
            <hr>
        <p> &copy; <script>document.write(new Date().getFullYear())</script> Massa Art Gallery</p>
        </div>
</footer>