<footer class="footer py-3 mt-auto" style="background-color: #ffff">
    <div class="row">
        <div class="col-md-4">
            <img src="/images/logo.png" alt="logo_thumbnail">
        </div>
            <hr>
        <p> &copy; <script>document.write(new Date().getFullYear())</script> Massa Art Gallery</p>
        </div>
</footer>