<footer class="footer ms-3 py-3 mt-auto" style="background-color: #ffff">
    <div class="row">
        <div class="col-md-4">
            <img src="images/favicon232.png" alt="logo">
            <img src="https://images.unsplash.com/photo-1579783902614-a3fb3927b6a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=745&q=80" alt="" class="">
        </div>
            <hr>
        <p> &copy; <script>document.write(new Date().getFullYear())</script> Massa Art Gallery</p>
        </div>
</footer>