<% layout('/layouts/boilerplate')%>

<head>
  <link rel="stylesheet" href="../public/stylesheets/about.css">
  <title>About | MAG</title>
</head>

<h1 class="">Massa Art Gallery</h1>
<hr>

<div class="row mt-5 mb-5">
    <div class="col-sm-2 px-1">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1593548615306-d1db319843b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80" alt="img" class="card-img">
        <div class="card-body">
          <h5 class="card-title">History of the Massa Art Gallery</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a href="#" class="btn btn-outline-secondary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-2 px-1">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1549191044-75e660cc2bd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="img" class="card-img">
        <div class="card-body">
          <h5 class="card-title">A New Way of Experiencing Art</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a href="#" class="btn btn-outline-secondary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-2 px-1">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1613483812100-a473b639b423?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="img" class="card-img">
          <div class="card-body">
            <h5 class="card-title">Museum Library and Archives</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <a href="#" class="btn btn-outline-secondary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-sm-2 px-1">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1572267148520-11f9b4b5f50a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="img" class="card-img">
          <div class="card-body">
            <h5 class="card-title">A Place of Research</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <a href="#" class="btn btn-outline-secondary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-sm-2 px-1">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1577049170376-2c90673231d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="img" class="card-img">
          <div class="card-body">
            <h5 class="card-title">Volunteer Opportunities</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <a href="#" class="btn btn-outline-secondary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-sm-2 px-1">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1524014529542-544cdf2606a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80" alt="img" class="card-img">
          <div class="card-body">
            <h5 class="card-title">Join the Community</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <a href="#" class="btn btn-outline-secondary">Go somewhere</a>
          </div>
        </div>
      </div>

  </div>

    <div class="row mt-5">
        <div class="col-sm-6">
            <div class="card" id="noborder">
                <img src="https://images.unsplash.com/photo-1533208087231-c3618eab623c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="img" class="card-img-hover">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <a href="#" class="btn btn-outline-secondary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card" id="noborder">
                <img src="https://images.unsplash.com/photo-1448932133140-b4045783ed9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="img" class="card-img-hover">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <a href="#" class="btn btn-outline-secondary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
