.col-sm-2 {
    transition: transform ease 300ms;
}

.col-sm-2:hover {
    transform: translate(0, -10px);
}

#noborder {
    border: none !important;
}

.card-carousel {
    border: none !important;
}

.card-img-hover {
    transition: transform ease 300ms;
}

.card-img-hover:hover {
    transform: scale(0.95);
}

#whatson {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


